<div id="hiddenForm"   class="  w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="m-auto  w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class=" bg-white rounded-lg shadow  "> 
            <div class="bg-red-100 border border-red-400 text-red-700 my-1 px-4 py-1 rounded " *ngIf="!validResponse && submited" >validation faild</div>

            <div class="px-6 py-6 lg:px-8"> 
                <h3 class="mb-4 text-xl font-medium text-gray-900 ">signUp</h3>
                <form [formGroup]="form" (ngSubmit)="createUser(form)" class="space-y-6">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900  ">name </label>
                        <input formControlName="name" type="text" name="name" id="name" class="bg-gray-50 border   text-gray-900 text-sm rounded-lg block w-full p-2.5"   required>
                        <div class="bg-red-100 border border-red-400 text-red-700 my-1 px-4 py-1 rounded " *ngIf="getFormControl['name'].errors && submited" >min lenght is 3  </div>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900  ">email </label>
                        <input formControlName="email" type="text" name="email" id="email" class="bg-gray-50 border   text-gray-900 text-sm rounded-lg block w-full p-2.5"   required>
                        <div class="bg-red-100 border border-red-400 text-red-700 my-1 px-4 py-1 rounded " *ngIf="getFormControl['email'].errors && submited" >enter valid email</div>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900  ">password</label>
                        <input formControlName="password" type="password" name="password" id="password"   class="bg-gray-50 border  text-gray-900 text-sm rounded-lg block w-full p-2.5" required>
                        <div class="bg-red-100 border border-red-400 text-red-700 my-1 px-4 py-1 rounded " *ngIf="getFormControl['password'].errors && submited" >min length is 6</div>
                    </div>  
                    <button type="submit" class="  text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">signUp</button>
                </form>
                <div class="mt-2">
                    <a href="\login" >login?</a>
                </div>
                
            </div>
        </div>
    </div>
</div>